<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>USDA_API_KEY</key>
	<string>$(USDA_API_KEY)</string>
	<key>PROXY_BASE_URL</key>
	<string>$(PROXY_BASE_URL)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>ADMOB_REWARDED_AD_UNIT_ID</key>
	<string>$(ADMOB_REWARDED_AD_UNIT_ID)</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use this to show personalized rewarded ads when you choose to watch one in exchange for AI credits. You can earn credits without enabling tracking.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
